@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 50px;
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  width: 11rem;
  margin-left: 4rem;
}

h1 {
  text-align: center;
  font-size: 3.3rem;
  letter-spacing: 0.2rem;
}

h3 {
  text-align: center;
  font-weight: lighter;
  margin-top: -2.3rem;
  font-size: 1.5rem;
  word-spacing: 0.3rem;
  letter-spacing: 0.3rem;
}

footer button {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 0rem;
  width: 15rem;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-color: white;
  font-weight: bold;
  border: solid 0.1rem;
}

button:hover {
  background-color: #632571;
  transform: scale(1.02);
}

a {
  text-decoration: none;
}

#percContainer {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: table;
}

#percBorder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 15rem;
}

.correct,
.wrong {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.vote {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.correct {
  left: 10%;
  font-size: 3rem;
}
.wrong {
  right: 10%;
  font-size: 3rem;
}

.wrong .correct,
p {
  font-weight: bold;
}

#wrongAnswer,
#correctAnswer {
  font-weight: 100;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}

.color {
  font-weight: bold;
  color: #00ffff;
  font-size: 1.3rem;
}

.lighter {
  font-weight: lighter;
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 2rem;
}
